*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*les page SPA*/
.page{
    display: none;
    position: relative;
    top: 110px;
}
.active{
    display: block;
}
/*header le haut*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.098);
    z-index: 999;
}

.imgDuHaut{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url(IMG/en-tete.jpg);
    background-position: center;
    background-size: contain;
    a{
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        animation: opacite 2000ms infinite alternate;
        user-select: none;
    }  
}
@keyframes opacite {
        0%{opacity: 0;}
        90%{opacity: 1; transform: scale(1.1);}
}

.sous-nav-mpc{
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    li{
        list-style: none;
        border: 1px solid #eee;
        border-radius: 6px;
        padding: 4px;
        margin: 4px;
        a{
            text-decoration: none;
            
            display: flex;
            align-items: center;
            height: auto;
            justify-content: center;
            button{
                border: 1px solid #fff;
                background-color: #fff;
                border-radius: px;
                color: blue;
                user-select: none;
                padding: 4px;
                text-transform: capitalize;
            }
        }
    }
    li:active{
        background-color: #eee;
        box-shadow: 0 3px 5px rgb(0, 0, 0, 0.09);
    }
}
@media (width > 599px) {
    .sous-nav-mpc{
        justify-content: start;
        gap: 10px;
    }
}

.saisons{
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin: 4px;
    padding: 5px 10px;
    border: 2px solid #eee;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.08);
    z-index: 22;
    p{
        text-wrap: nowrap;
        margin-bottom: 8px;
        color: blue;
        user-select: none;
    }
    .saison{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-attachment: fixed;
    }
    li{
        border: none;
        background-color: #eee;
        user-select: none;
    }
    a{
        color: black;
        font-weight: 500px;
        text-transform: capitalize;
    }
}
.sous-nav-mpc0:focus-within .saisons{
    display: grid;
}

.saisons1{
    display: none;
    position: absolute;
    top: 100%;
    left: 90px;
    background-color: #fff;
    border-radius: 8px;
    margin: 4px;
    padding: 5px 10px;
    border: 2px solid #eee;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.08);
    z-index: 22;
    p{
        text-wrap: nowrap;
        margin-bottom: 8px;
        color: blue;
        user-select: none;
    }
    .saison{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-attachment: fixed;
    }
    li{
        border: none;
        background-color: #eee;
        user-select: none;
    }
    a{
        color: black;
        font-weight: 500px;
        text-transform: capitalize;
    }
}
.sous-nav-mpc1:focus-within .saisons1{
    display: grid;
}

.saisons2{
    display: none;
    position: absolute;
    top: 100%;
    left: 120px;
    background-color: #fff;
    border-radius: 8px;
    margin: 4px;
    padding: 5px 10px;
    border: 2px solid #eee;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.08);
    z-index: 22;
    p{
        text-wrap: nowrap;
        margin-bottom: 8px;
        color: blue;
        user-select: none;
    }
    .saison{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-attachment: fixed;
    }
    li{
        border: none;
        background-color: #eee;
        user-select: none;
    }
    a{
        color: black;
        font-weight: 500px;
        text-transform: capitalize;
    }
}
.sous-nav-mpc2:focus-within .saisons2{
    display: grid;
}
@media (width > 599px) {
    .saisons{
        left: 0;
    }
    .saisons1{
        left: 118px;                                                                                          
    }
    .saisons2{
        left: 200px;
    }
}

/*partie de carte*/

.carte, .carteP, .carteC{
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.098);
    img{
        width: 100%;
        border-radius: 10px;
    }
    h3{
        color: black;
    }
    .carteDiv, h3{
        padding: 5px;
        a{
            display: inline-block;
            text-decoration: none;
            border: 1px solid rgb(0, 0, 0, 0.2);
            padding: 5px;
            border-radius: 8px;
            color: blue;
        }
        a:hover{
            border: 1px solid rgb(0, 0, 0);
        }
        a:active{
            background-color: blue;
            color: #fff;
        }
    }
}
.carteP{
    border: 1px solid rgb(0, 0, 255, 0.091);
    img{
        border: none;
    }
}
.carteP:hover{
    border: 1px solid rgb(0, 0, 255);
}
.carteP:hover{
    transform: translateY(-2px) scale(1.01);
    transition: 440ms ease;
}
.carte:hover{
    transform: translateY(-2px);
    transition: 440ms ease;
    border: 1px solid #d9ff00;
}
.carteC:hover{
    transform: translateY(-2px);
    transition: 440ms ease;
    border: 1px solid #09ff00;
}


@media (width > 450px) {
    .page-math-H, .page-math-M, .page-physic-H, .page-physic-M, .page-chm-H, .page-chm-M, .page-physic-TD, .page-chm-TD, .page-math-TD{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width > 600px) {
    .page-math-H, .page-math-M, .page-physic-H, .page-physic-M, .page-chm-H, .page-chm-M, .page-physic-TD, .page-chm-TD, .page-math-TD{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (width > 1000px) {
    .page-math-H, .page-math-M, .page-physic-H, .page-physic-M, .page-chm-H, .page-chm-M, .page-physic-TD, .page-chm-TD, .page-math-TD{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}