
body {background-color: black;
color: white;
}

#gweb {
   border: solid black;
   background-color: azure;
   color:rgb(255, 0, 0);
   margin-top: -13px;
   margin-left: -1pc;
   margin-right: -1pc;
   text-align: center;
   padding-top: 1pc;
   
}

h1 {
   font-weight: bold;
   
}


dl {
   color: azure;
   margin-top: 0pc;

}
dt {
   border: solid blue;
   border-radius: 0.4pc;
   padding-top: 0.1pc;
   font-weight: bold;
   font-size: 2pc;
   text-align: center;
   background-color: rgb(0, 43, 161);
   margin-bottom: 2pc;
   margin-left: -1pc;
   margin-right: -1pc;
}
#dd0 {
   font-size: 1.5pc;
   
   text-align: center;  
   
}
#ceator {
   color: white;

}

#contact {
   color: white;
   
}
a { 
   text-decoration: non;
}