*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: 24px;
    
    color: white;
}
#physique {
    display: flex;
    background-image: url(../IMG/myfont.jpg);
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    

}
#phy {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: 1px solid;

}
@media screen and (min-width: 800px) {
    #phy {
        font-size: 50px;

    }
}

#docs {
    background-color: rgb(0, 26, 255);
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    width: 300px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;

}
@media screen and (min-width: 800px) {
    #docs {
        margin: 10px auto;
        border-radius: 10px;
        width: 500px;
        padding: 20px;
        font-size: 20px;
        
    }
    
}

#semestre {
    background-color: rgb(0, 26, 255);;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
@media screen and (min-width: 800px) {
    #semestre {
        margin: 20px auto;
        padding: 20px;
        gap: 20px;

    }

}

#annee {
    text-transform: uppercase;
    color: rgb(253, 253, 253);
    font-weight: 700;

}
@media screen and (min-width: 800px) {
    #annee {
        font-size: 45px;
    }
    
}
#semestre1 {
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: overline;
}
@media screen and (min-width: 800px) {
    #semestre1 {
        font-size: 40px;
    }
    
}


#documents {
    background-color: rgb(0, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    
}
@media screen and (min-width: 800px) {
 #documents{
    font-size: 30px;

 }   
}

#harmattant{
    border: 2px solid;
    width: 90%;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
}
#s1 {
    display: flex;
    
    justify-content: center;
    border: 1px solid;
    width: 120px;
    margin: 10px auto;
    text-transform: uppercase;
    
}
@media screen and (min-width: 800px) {
    #s1{
        width: 220px;
        box-shadow: 0px 0px 15px rgb(255, 255, 255),
        0px 0px 15px cyan inset;
    }
    
}


#docs-harmattant{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 10px 5px;
    color: rgb(255, 255, 255);
    
}
@media screen and (min-width: 800px) {
    #docs-harmattant{
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 200;

    }
    
}

#mousson{
    border: 2px solid;
    width: 90%;
    margin: 0 auto;
    height: auto;
}
#s2{
    display: flex;
    
    justify-content: center;
    border: 1px solid;
    width: 120px;
    margin: 10px auto;
    text-transform: uppercase;

}
@media screen and (min-width: 800px) {
    #s2{
        width: 170px;
        box-shadow: 0px 0px 15px rgb(255, 255, 255),
        0px 0px 15px cyan inset;
    }
    
}

#docs-mousson{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 10px 5px;
    color: rgb(255, 255, 255);

}
@media screen and (min-width: 800px) {
    #docs-mousson{
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 200;

    }
    
}



.couleur {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    
}

img {
    padding: 10px ;
 
}
a {
    text-decoration: none;
}